*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
}
.catculator{
  width: 500px;
  margin: auto 30%;
  padding: 20px;
 -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
 box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
 border: 1px solid blue;
 border-radius: 1px;
}
.input{
  height: 60px;
  border: 1px solid blue;
}
.panel-left{
  min-width: 80%;
  float: left;
}
.numbers{
  margin-top: 20px;
}
.numbers div{
  display: inline-block;
  margin: 3%;
  padding: 4%;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 80px;
}
.panel-right{
  margin-top: 20px;
  float: left;
}
.operator div{
  display: block;
  padding: 20%;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 80px;
  height: 63px;
}
.operator div:first-child{
  margin-top: 13%;
}
.operator div:not(suma){
  margin-top: 53%;
}
.result{
  clear: both;
  display: inline-block;
  width: 95%;
  height: 57px;
  margin: 2%;
  padding: 2%;
  border-style: none;
  border-radius: 1px;
  background-color: blue;
  color: white;
}
